{% extends 'Paula/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'post_remove_all' %}"><span class="glyphicon glyphicon-remove"></span></a>

    {% for post in paula_posts %}
        <div>
            <h6>Author: {{ post.author }}</h6>
            <h1>{{ post.title}} </h1>
            {% with comments_all=post.comments.all %}
            {% for comment in comments_all %}
                <h2>Comments: {{ comment.title }}</h2>
            {% endfor %}
            {% endwith %}

        </br>
        </div>
    {% endfor %}
{% endblock content %}
